[Desktop Entry]
Type=Application
Name=Kadenza
GenericName=Apple Music Player
Comment=Listen to Apple Music on KDE Plasma
Exec=kadenza
Icon=io.github.timpalpant.kadenza
Terminal=false
Categories=AudioVideo;Audio;Player;Qt;KDE;
Keywords=music;audio;streaming;apple;
StartupNotify=true
StartupWMClass=io.github.timpalpant.kadenza
Actions=PlayPause;Next;Previous;

[Desktop Action PlayPause]
Name=Play/Pause
Icon=media-playback-start
Exec=dbus-send --session --dest=org.mpris.MediaPlayer2.kadenza --type=method_call /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause

[Desktop Action Next]
Name=Next Track
Icon=media-skip-forward
Exec=dbus-send --session --dest=org.mpris.MediaPlayer2.kadenza --type=method_call /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next

[Desktop Action Previous]
Name=Previous Track
Icon=media-skip-backward
Exec=dbus-send --session --dest=org.mpris.MediaPlayer2.kadenza --type=method_call /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous
